html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#game {
  background-color: black;
}

.pieces-list {
  display: grid;
  grid-template-columns: repeat(15, 1fr);

  > img {
    width: auto;
  }
}

img {
  image-rendering: optimizeSpeed; /*                     */
  image-rendering: -moz-crisp-edges; /* Firefox             */
  image-rendering: -o-crisp-edges; /* Opera               */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
  image-rendering: pixelated; /* Chrome as of 2019   */
  image-rendering: optimize-contrast; /* CSS3 Proposed       */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                */
}
