.game {
  background-color: black;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.gameContainer {
  overflow: hidden;
  position: relative;
}

.pieces-list {
  display: grid;
  grid-template-columns: repeat(15, 1fr);

  > img {
    width: auto;
  }
}

.loader {
  width: 100vw;
  height: 100vh;
  background-color: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  span {
    font-size: 26px;
  }
}
